body {
    background-color: #0c2835; /* Fondo de la página */
    margin: 0;                 /* Sin márgenes */
    display: flex;             /* Usar flexbox */
    flex-direction: column;    /* Disposición en columna */
    align-items: center;       /* Centrar horizontalmente */
    justify-content: center;    /* Centrar verticalmente */
    height: 100vh;            /* Ocupa toda la altura de la pantalla */
}

.navbar {
    background-color: #008B8B; /* Color del navbar */
    width: 100%;               /* Ancho completo */
    text-align: center;        /* Centrar texto */
    color: white;              /* Color del texto */
    padding: 10px;             /* Espacio dentro del navbar */
    position: absolute;        /* Fijar el navbar en la parte superior */
    top: 0;                    /* Ubicación superior */
}

.calculator {
    border: 4px solid #008B8B; /* Borde de la calculadora */
    border-radius: 8px;        /* Esquinas redondeadas */
    padding: 20px;             /* Espacio dentro de la calculadora */
    margin-top: 80px;          /* Espacio para el navbar */
    display: flex;             /* Usar flexbox para los botones */
    flex-direction: column;    /* Disposición en columna */
    align-items: center;       /* Centrar elementos */
    width: 300px;              /* Ancho de la calculadora */
}

.display {
    width: 100%;               /* Ancho completo */
    height: 100px;             /* Altura del display */
    text-align: right;         /* Texto a la derecha */
    color: white;              /* Color del texto */
    margin-bottom: 10px;       /* Espacio debajo del display */
    border: 1px solid #008B8B; /* Borde del display */
    background-color: #0c2835; /* Fondo del display */
    font-size: 24px;           /* Tamaño de fuente */
}

.buttons {
    display: flex;             /* Usar flexbox para los botones */
    flex-direction: column;    /* Colocar los botones en columna */
    align-items: center;       /* Centrar botones en el contenedor */
    width: 100%;               /* Ancho completo */
}

.row {
    display: flex;             /* Usar flexbox para cada fila de botones */
    justify-content: end;    /* Centrar botones en la fila */
    width: 100%;               /* Ancho completo de la fila */
}

.number, .operator {
    width: 70px;              /* Ancho de los botones */
    height: 50px;             /* Altura de los botones */
    color: white;             /* Color del texto */
    border: 1px solid #008B8B; /* Borde de botones */
    background-color: #0c2835; /* Fondo de botones */
    font-size: 22px;          /* Tamaño de fuente */
    margin: 5px;              /* Espacio entre botones */
    cursor: pointer;          /* Cambiar cursor al pasar el mouse */
}

.number:hover, .operator:hover {
    background-color: #008B8B; /* Cambiar color al pasar el mouse */
}
